@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Inter&family=Libre+Baskerville&family=Poppins:wght@200;700&display=swap");

* {
  font-family: "Inter", sans-serif;
}

.App {
  width: 100%;
  margin: 0 auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Inter", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.bg-banner {
  background-color: #fdfbf4;
  padding: 5em 10em;
}
.tropical-bg {
  margin: 2em 0em;
}
.tropical-text {
  margin-top: 12em;
  margin-right: 6em;
}

.tropical-img-cards {
  margin-top: 10em;
}
.ul-list {
  list-style-type: disc;
  list-style-position: inside;
}
.banner-text {
  margin: 0 auto;
}

.student-one {
  width: 85%;
  margin: 0 auto;
}

.card {
  background-color: #fff5f5;
  border-radius: 1em;
  width: 25em;
}
.more-icon {
  height: 2em;
  width: 2em;
  background-color: #fff5f5;
  border-radius: 50%;
  cursor: pointer;
}

.discounts-section {
  margin-top: 5em;
}
.discounts-text {
  margin-top: 2em;
}

.student-img {
  height: 80%;
}
.minus-icon-style {
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
}
.plus-icon-style {
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
}

.testimonials {
  margin: 4em 15em;
}

.testimonial-name::after {
  content: "";
  display: block;
  border-bottom: 2px solid #a0cd9e;
  width: 8em;
  margin-top: 0.5em;
}

.student-specials {
  margin: 5em 25em;
}

.student-specials-para {
  margin: 4rem 6em;
}
